<div class="wrapper">
  <app-doctor-card-list
    [doctors]="doctors$ | async"
    [loading]="isLoading$ | async"
    [error]="(error$ | async)"
    (refresh)="onRefresh()"
    (focused)="onFocus($event)">
  </app-doctor-card-list>

  <app-doctor-detail-page class="detail" [@heroState]="detailState" *ngIf="selectedDoctor"
                          [list]="true"
                          [doctor]="selectedDoctor">
    <div class="close-btn" (click)="closeDetail()">X</div>
  </app-doctor-detail-page>
</div>
