@import '../../../lib/_colors.scss';

:host {

}

.full-width {
  width: 100%;
}

.search-wrapper {
  width: 100%;
  padding: 0px 30px;
}

.right {

}

.img-thumbnail {
  border: none !important;
  height: 50px;
}

.search-container {
  display: flex;
  flex-direction: row-reverse;

  &.fullscreen {
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .img-thumbnail {
      height: auto;
    }
  }
}
