@import '../../../lib/colors';

.day-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.day {
  width: 13%;
  height: 13%;
  text-align: center;

  &.header {
    font-size: 12px;
    word-break: break-all;
  }
}

.highlight {
  cursor: pointer;

  &:hover {
    background-color: $color-yellow;
  }
}

.selected {
  background-color: $color-secondary;
}

.detail {
  display: block;
  width: 100%;
}
